auto
*~
*.aux
*.fls
*.log
*.out
*.toc
*.gz
pdrdm.pdf
prompt_processing_reqs.pdf
prompt_processing_techprop.pdf
protoDUNE-DMS-design.pdf
neut-buffer.pdf
spdf.pdf
*.fdb_latexmk
*.bbl
*.blg
fts-basics-3rd.eps
fts-basics-3rd.png
fts-basics-3rd.svg
fts-basics.eps
fts-basics.png
fts-basics.svg
ftsinstances.eps
ftsinstances.png
ftsinstances.svg
ftsinstances_v2.eps
ftsinstances_v2.svg
prompt.eps
prompt.svg
prompt.png
uoob.pdf
TB*.pdf

*.nav
*.snm
*.vrb
.webhook
*.xwm
